<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Jumble</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script>
        $(document).ready(function(){
            $('#append').click(function(){
                $('#secret').show();
            })
        });
    </script>
</head>
<body>
    <div>
        <a class="btn btn-warning" href="/reset_jumble">Home</a>
        <a class="btn btn-warning" href="/logout">Logout</a>
    </div>
    <div class="container">
        <h1>Word Jumble</h1>
        <div class="row">
            <div class="col-sm-4 offset-sm-4">
                {% if jumbled_word != "" %}
                    <h2>{{jumbled_word}}</h2>
                {% else %}
                    <h2><br></h2>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 offset-sm-4">
                <form action="/guess" method="POST">
                    {% csrf_token %}
                    <div class="col" id="input">
                        <!-- <input type="text" name="guess"> -->
                        <input type="text" name="guess" placeholder="Guess">
                    </div>
                    <div class="col" id="input">
                        <input id='append' type="submit" class="btn btn-primary" value="Submit">
                    </div>
                    <p id='secret'>{{answer}}</p>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 offset-sm-4">
                <a class="btn btn-success" href="/new_word">New Word</a>
            </div>
        </div>
    </div>
</body>
</html>
